* {
    background-color: #fdf6f2;
}
h2 {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    color: #a78d8a;
}
p {
    color: #4e7988;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #7f5579;
}